# Virtual environment
venv/
# Python cache
__pycache__/
# Data files
data/
*.csv
# Images and Plots
plots/
*.png
# Jupyter checkpoints
.ipynb_checkpoints/
# OS files
.DS_Store
# Report files
reports/
*.pdf
# Models
models/
*.pkl
*.h5
*.json