# Core Requirements
numpy
pandas
yfinanc
matplotlib
seaborn

# Time Series
statsmodels
pmdarima

# Machine Learning
scikit-learn
tensorflow

# Portfolio Optimization
PyPortfolioOpt

# Utilities & File Handling
jupyter
ipykernel
ipython
notebook
tqdm